*, *::before, *::after {

        box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1em;
}

h1 {
    font-size: 1.4em;
}
section {
    padding: 150px 0;

}

.container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container div {
    padding: 25px 30px;

}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}